@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body {
    font-family: "Open Sans", sans-serif;
    background-color: #572A5E;
    color: black;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    letter-spacing: 1.2px;
     word-spacing: 1.2px;
}
h2{
    color: white;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    text-align: center;
}

#img-logo {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.pesquisa {
    text-align: center;
    width: 70%;

}

#barra-pesquisa {
    border-radius: 15px;
    padding: 1rem;
    width: 50%;
    text-align: center;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
main{
    text-align: center;
}
.menu select {
    padding: 1em;
    background-color: #B793BA;
    color:white;
    border: none;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.conteudo{
    margin:2em;
    background-color:white;
    padding: 1em;
    text-align: justify;
    text-decoration: none;
    border-radius: 15px;
}
 .conteudo p{
    font-size: 1.2em;
    margin: 3em auto;
    line-height: 1.6;

}
footer{
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}
footer .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}