/* fontes Open sans importada do google tem q colocar nas outras paginas se for continuar com essa fonte  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color:white;
    color: #333;
    line-height: 1.6em;
    letter-spacing: 1.2px;
     word-spacing: 1.2px;
}
header {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color:black;
}
.logo{
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-logo {
    height: 90%;
    width: 40%;
    border-radius: 50%;
}
.menu {
    height: 100%;
    width: 70vw;
    display: flex;
    justify-content:center; 
    align-items: flex-end;
}

.menu > a {
    margin: 0px 10px;
    text-decoration: none;
    font-size: 1.1rem;
}
main{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.social-section{
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon-section{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.icon-section > a > img{
    height:6em;
    width: 6em;
    border-radius: 50%;
}
.formulario-section{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.formulario-section > form {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form input, form select, form textarea {
    padding: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%; /* Faz os campos ocuparem toda a largura disponível */
}
#btn-Envia{
    padding: 6px 20px;
    margin-bottom: 10px;
    background-color:#572A5E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
button#btn-Envia:hover {
    background-color:#B793BA ;
}
footer{
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: #f8f4b0;
}