@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #572A5E;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 2vw;
    line-height: 1.6em;
    letter-spacing: 1.2px;
     word-spacing: 1.2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    text-align: center;
}

#img-logo {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.pesquisa {
    flex: 1;
    text-align: center;
}

#barra-pesquisa {
    border-radius: 15px;
    padding: 1rem;
    width: 70%;
    text-align: center;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.about-section{
    color: white;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: justify;
}
.gallery-section,
.howworks-section {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: justify;
}

.gallery-section {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instagram-feed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
}

.instagram-feed img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.btn {
    background-color: #6B4675;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius:10px;     
    font-size: 14px;
    font-weight: bold;
    width: 15vw;
}

.feirinhas-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.feirinhas-section >  img{
    height: 50vh;
    width: 20vw;
    border-radius: 5px;
}

aside {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #B793BA;
    color: white;
    border-radius: 10px;
    text-align: center;
}

    .links ul {
        list-style: none;
        padding: 0;
    }

    .links a {
        color: white;
        text-decoration: none;
    }

footer {
    padding: 1rem;
    text-align: center;
    color: white;
}
